/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #01474f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 63%;
    letter-spacing: .1em;
    margin: 0;
    text-align: center;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em;
}

ul>li {
    list-style: none;
}

.btn {
    border-radius: .5em;
    border: none;
    padding: .5em;
    font-size: 1.5em;
}

.card,
.reset-btn {
    cursor: pointer;
    background: none;
	border: .2em solid #7bc9a2;
}

/* Header */

h1,
h2,
h3 {
    color: #7bc9a2;
}

h1 {
    font-size: 4em;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: .5em;
    font-weight: bold;
    text-shadow: 2px 4px #af588b;
}

h2 {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: .5em;
}

p {
    font-size: 1.6em;
}

h3 {
    font-weight: 400;
}

/* Game Area - created with mobile first in mind */

.deck {
    background: linear-gradient(to bottom, #d99aad, #af588b);
    border-radius: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 35em;
    width: 35em;
    padding: .5em;
    margin: 3em 0;
}

.card {
	background: #01474f;
	border-radius: 0.5em;
	height: 7em;
	width: 7em;
}

img {
	user-select: none;
	width: 100%;
	height: 100%;
}

.deck img {
	visibility: hidden;
}
.deck .card.flip {
	background: #fff;
	cursor: default;
	transform: rotateY(180deg);
	transition: transform 0.3s linear;
	pointer-events: none;
}

.flip img {
	background: #fff;
	visibility: visible;
}

.deck .card.match {
	background: #39d;
	visibility: visible;
	cursor: default;
	animation: pulse 1s;
}
.match img {
	background: #39d;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	80% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}





/* Score panel */

/* play around with sizing */

.score-panel {
	font-size: 1.4em;
	padding: 1em 0 2em;
}

.moves-counter {
	padding: 0.5em;
}

.reset-btn {
	background: none;
	border: .2em solid #7bc9a2;
    color: aliceblue;
}

.timer-container {
	background: #d99aad;
	border-radius: 0.5em;
	color: #af588b;
	font-weight: bold;
	margin: 0.5em;
	padding: 0.5em;
}

.timer {
	font-size: 1em;
}

/* Modal settings */