/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-image: url(https://res.cloudinary.com/dtbdqnrln/image/upload/v1647704056/P2/animal_skin_green_tones_vammmi.svg);
    background-repeat: repeat;
    background-size: contain;
    height: 20vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 63%;
    letter-spacing: .1em;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 0.5em; */
}

ul>li {
    list-style: none;
}

.btn {
    border-radius: .7em;
    border: none;
    padding: .3em;
    font-size: 1.4rem;
}

.card,
.reset-btn {
    cursor: pointer;
    background: none;
}

/* Header */

.header {
    background: rgba(1, 71, 79, 0.75);

}

h1,
h2,
h3 {
    color: #7bc9a2;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: .5em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 4px #af588b;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .1em;
    font-weight: bolder;
    color: #faebd7;
    text-transform: uppercase;
    margin: .5em 0;
}


p {
    font-size: 1.4rem;
}

#footer {
    background: rgba(1, 71, 79, 0.75);
    padding: .5em 0;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 2em;
    color: antiquewhite;
}

.link {
    background-color: #faebd7;
    color: #01474f;
}

.link:hover {
    background-color: #01474f;
    color: #faebd7;
}

h3 {
    font-weight: 400;
}

/* Game Area - created with mobile first in mind */

.deck {
    background: linear-gradient(to bottom, #d99aad, #af588b);
    border-radius: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 30em;
    width: 30em;
    padding: .4em;
    margin: 1em 0;
}

.card {
    background: #01474f;
    border-radius: 0.5em;
    height: 6.5em;
    width: 6.5em;
}

img {
    user-select: none;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;

}

.deck img {
    visibility: hidden;
}

.deck .card.flip {
    background: #fff;
    cursor: default;
    transform: rotateY(180deg);
    transition: transform 0.3s linear;
    pointer-events: none;
}

.flip img {
    background: #fff;
    visibility: visible;
}

.deck .card.match {
    background: #39d;
    visibility: visible;
    cursor: default;
    animation: pulse 1s;
}

.match img {
    background: #39d;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Score panel */

/* play around with sizing */

.score-panel {
    font-size: 2.4em;
    padding: .3em 0 1em;
    background: rgba(1, 71, 79, 0.75);
    border-radius: .5em;
}

.score-panel h3 {
    font-weight: 600;
    text-shadow: 2px 4px #af588b;
}

.moves-counter {
    padding: 0.5em;
    color: #faebd7;
}

.reset-btn {
    background: none;
    border: .2em solid #7bc9a2;
    color: #faebd7;
}

.timer-container {
    background: #af588b;
    border-radius: 0.5em;
    color: #faebd7;
    font-weight: bold;
    margin: 0.5em;
    padding: 0.5em;
}

.timer {
    font-size: 1em;
}

/* Modal settings */

/* Help with the modal from
https://www.w3schools.com/howto/howto_css_modals.asp
*/

.modal {
	/*Hidden by default */
	display: none;
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.modal-h2 {
    color: #7bc9a2;
    text-shadow: 2px 4px #01474f;
    margin-bottom: .5em;
}

/* Modal Content/Box */
.modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #af588b;
	margin: 5% auto;
	border: 0.8em solid #d99aad;
	padding-right: 1em;
	width: 80%;
}

/* The Close Button */
.close {
	align-self: flex-end;
	color: #d99aad;
	font-size: 5em;
}

.close:hover,
.close:focus {
	color: #faebd7;
	text-decoration: none;
	cursor: pointer;
}

p.stats {
	font-weight: 600;
}

p.stats:last-child {
	margin-bottom: 1em;
}

.play-again-btn {
	background: #faebd7;
    color: #af588b;
	margin: 1em 0;
    font-size: 1.2rem;
}

.play-again-btn:hover {
    background: #d99aad;
    color: #faebd7;
}


/* Media Queries */

@media only screen and (min-width: 768px) {

	.deck  {
		height: 50em;
		padding: 2em;
		width: 50em;
	}

	.card {
		height: 10em;
		width: 10em;
	}

	.modal-content h2 {
		font-size: 4em;
	}

	.play-again-btn {
		font-size: 1.8em;
	}
}

@media only screen and (min-width: 1080px) {
	
	h1 {
		font-size: 6em;
	}

	p {
		font-size: 2.3em;
	}

	.deck  {
		height: 70em;
		width: 70em;
	}

	.card {
		height: 15em;
		width: 15em;
	}

	.reset-btn {
		font-size: 0.8em;
	}

	.footer {
		font-size: 1.2em;
	}
	
	.modal-content h2 {
		font-size: 5em;
	}

	/* Modal Image*/
	.modal-img {
		width: 30em;
	}

	.play-again-btn {
		font-size: 2em;
	}
}